[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
aiofiles = "*"
regex = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
autoflake = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
