[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
aiofiles = "*"
regex = "*"
loguru = "*"
beautifulsoup4 = "*"
greenlet = "*"
asyncpg = "*"
groq = "*"
openai = "*"
aiohttp = "*"
aiosmtplib = "*"
schedule = "*"
feedparser = "*"
numpy = "*"
pandas = "*"
lightfm = "*"
langchain = "*"
chromadb = "*"
langchain-community = "*"
google-api-python-client = "*"
html2text = "*"
tiktoken = "*"
langchain-openai = "*"
langchain-google-community = "*"
wikipedia-api = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
autoflake = "*"
isort = "*"
pylint = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
